# Python
__pycache__/

# PyInstaller
dist/
build/
*.spec

# MkDocs
site/

# IDE
.vscode/
.idea/
.claude/

# OS artifacts
.DS_Store

# Autolume artifacts
bin/
models/
recordings/
training-runs/
ganspace-features/
data/
presets/
torch_extensions/
*.pth