--extra-index-url https://download.pytorch.org/whl/cu128

click==8.1.7
fbpca==1.0
ffmpeg-python==0.2.0
ffmpeg-downloader==0.4.1
glfw==2.6.2
imageio-ffmpeg==0.4.9
imageio==2.31.5
imgui==1.4.1
kmeans-pytorch==0.3
kornia==0.7.0
librosa==0.10.1
lmdb==1.5.1
lpips==0.1.4
matplotlib==3.8.0
mkdocs-material==9.7.1
ndi-python==5.1.1.1
ninja==1.11.1.1
numpy==1.26.4
openai-clip==1.0.1
opencv-python==4.8.1.78
opensimplex==0.4.5
pandas==2.1.1
pillow==9.3.0
psutil==5.9.6
pyaudio==0.2.13
pyinstaller==6.16.0
pyopengl==3.1.7
pyspng==0.1.3
python-osc==1.8.3
pyyaml==6.0.1
requests>=2.30
scikit-image==0.22.0
scikit-learn==1.3.1
scipy==1.11.3
timm==0.5.4
torch==2.8.0+cu128
torchaudio==2.8.0+cu128
torchvision==0.23.0+cu128
tqdm==4.66.1
