click
clip @ git+https://github.com/openai/CLIP.git@a9b1bf5920416aaeaec965c25dd9e8f98c864f16
ffmpeg-python
ftfy
glfw
kornia
lpips
moviepy
ndi-python
numpy
opencv-python
opensimplex
Pillow
PyOpenGL
PyYAML
scikit-image
scikit-learn
scipy
imgui==1.4.1
fbpca
psutil
matplotlib
python-osc